.carousel-container{
    overflow: hidden;
    height: 440px;
}

@media(max-width:464px){
    .carousel-container{
        height: 230px;
        display: flex;
        justify-content: space-between;
    }
}