.movie-card{
    width: 220px;
    height: 330px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: .5s;
}

.movie-card:hover{
    transform:  scale(1.2) translateZ(20px);
    z-index: 2;
}

.overlay{
    padding: 1em;
    width: 100%;
    height: 100%;
    background: rgba(43,41,41,0.9);
    opacity: 0;
    transition:  all 1s;
    color: white;
    font-weight: bold;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.overlay:hover{
    opacity: 1;
}

.movie-card-font{
    font-size: .8rem;
}

.adult-style{
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
